body{

    min-height:100vh;

    background:linear-gradient(135deg,#014421,#006B3F);

}

.login-container{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.login-card{

    width:420px;

    background:rgba(255,255,255,.95);

    border-radius:18px;

    padding:45px;

    box-shadow:
    0 15px 40px rgba(0,0,0,.18);

    animation:fade .8s ease;

}

.logo{

    text-align:center;

    margin-bottom:35px;

}

.logo h1{

    color:#006B3F;

    font-size:38px;

    font-weight:700;

}

.logo p{

    color:#666;

    margin-top:8px;

}

.input-group{

    display:flex;

    flex-direction:column;

    margin-bottom:22px;

}

.input-group label{

    font-size:14px;

    font-weight:500;

    margin-bottom:8px;

}

.input-group input{

    height:50px;

    border:1px solid #ddd;

    border-radius:10px;

    padding:0 15px;

    font-size:15px;

    transition:.25s;

}

.input-group input:focus{

    outline:none;

    border-color:#006B3F;

    box-shadow:0 0 0 4px rgba(0,107,63,.12);

}

button{

    width:100%;

    height:52px;

    border:none;

    border-radius:10px;

    background:#006B3F;

    color:white;

    font-size:16px;

    font-weight:600;

    transition:.25s;

}

button:hover{

    background:#014421;

}

small{

    display:block;

    margin-top:25px;

    text-align:center;

    color:#888;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}
.brand-logo{

    width:80px;

    margin-bottom:18px;

}
    .system-version{

    margin-top:12px;

    color:#6b7280;

    font-size:14px;

}
